*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav_bar{
    display: flex;
    justify-content: space-between;

}

.nav_bar img{
    width: 12%;
}

 .btns {
     padding: 0.2rem 1rem;  
    background-color: red;
    color: white;
    border: 0;
    /* font-size: 1rem; */
    
    
}


.hero{
    color: white;
    text-align: center;
    top: 0;
    background-image: url(images/image1.jpg);
    /* background-color: rgba(0,0,0,0.5) */
}
.hero_overlay{
    position: absolute;
   background-color: rgba(0,0,0,0.5); 
     inset: 0;  
    background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0;
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0.8) 100%
   ); 
}

.hero h1{
    font-size: 4rem;
    
    
}

.hero h4{
    font-size: 2rem;
}
.hero p{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.form_container{
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin-top: 1rem;
}
.form_input .email_input{
    padding: 1rem;
    width: 30rem;
    background-color: white;
    border: 0;
}

.btn button{
    padding: 1rem 2.7rem;
    background-color: red;
    color: white;
    border: 0;
    font-size: 0.8rem;
    margin-bottom: 10rem;
}
hr{
    
    border: 5px solid gray;
}
.section_two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.tv_part h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.tv_part p{
    font-size: 1.6rem;
    color: white;
    line-height: 2rem;
}

.section_three{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
     padding-bottom: 3rem;
} 

.offline_part h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.offline_part p{
    font-size: 1.6rem;
    color: white;
    line-height: 2rem;
}
.section_four{
    background-color: black;
    padding: 4rem;
   
}
.section_four h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.section_four p{
    font-size: 1.6rem;
    color: white;
    line-height: 2rem;

}
.section_five{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
     padding-bottom: 3rem;
} 

.kid_part h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.kid_part p{
    font-size: 1.6rem;
    color: white;
    line-height: 2rem;
}
.faq{
    background-color: black;
    
}

.faq h1{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 1.5rem;
}

.faq h4{
    color: white;
     padding: 1rem 0;
    text-align: center;
    background-color: rgb(24, 23, 23);
    width: 30rem;
    font-size: 1.5rem;
    margin-left: 20rem;
    margin-bottom: 0.5rem;
}

.email p{
    color: white;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.2rem;
}
.footer_section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.footer_section a{
    text-decoration: none;
    color: gray;
    line-height: 2rem;
}

/* .contact a{
    padding-top: 1.5rem;
} */

.footer_section_two, .footer_section_three, .footer_section_four {
    padding-top: 2rem;
} 